exportClasses('status', 'user', 'directMessage')
exportMethods(as.data.frame, screenName, show, favorited, replyToSN,
              statusesCount, tweetCount, followersCount,
              favoritesCount, friendsCount, userURL, created,
              protected, verified, location, lastStatus, show,
              description, name, id, statusText, truncated, statusSource)

export("searchTwitteR")
export("retweeters")
export("favorites")
exportPattern("^import*")
exportPattern("^jsonTo*")
export("getTwitterOAuth")
export("decode_short_url")
export("getCurRateLimitInfo")
export('statusFactory')
export('buildStatus')
export('userFactory')
export('buildUser')
export('dmFactory')
export('registerTwitterOAuth')
export('dmGet')
export('dmSent')
export('dmDestroy')
export('dmSend')
export('Rtweets')
export('searchTwitter')
export('userTimeline')
export('homeTimeline')
export('mentions')
export('retweetsOfMe')
export('showStatus')
export('getUser')
export('lookupUsers')
export("updateStatus")
export('tweet')
export('deleteStatus')
export('taskStatus')
export('getTrends')
export('availableTrendLocations')
export('closestTrendLocations')
export('twListToDF')
export('friendships')
