import(httr, bit64, rjson, DBI, methods)
exportClasses('status', 'user', 'directMessage')
exportMethods(as.data.frame, screenName, show, favorited, replyToSN,
              statusesCount, tweetCount, followersCount,
              favoritesCount, friendsCount, userURL, created,
              protected, verified, location, lastStatus, show,
              description, name, id, statusText, truncated, statusSource)

export("search_twitter_and_store")
export("get_latest_tweet_id")
export("setup_twitter_oauth")
export("register_db_backend")
export("register_sqlite_backend")
export("register_mysql_backend")
export("store_tweets_db")
export("load_tweets_db")
export("store_users_db")
export("load_users_db")
export("resource_families")
export("strip_retweets")
export("searchTwitteR")
export("retweets")
export("retweeters")
export("favorites")
exportPattern("^import*")
exportPattern("^jsonTo*")
export("getTwitterOAuth")
export("decode_short_url")
export("getCurRateLimitInfo")
export('statusFactory')
export('buildStatus')
export('userFactory')
export('buildUser')
export('dmFactory')
export('registerTwitterOAuth')
export('dmGet')
export('dmSent')
export('dmDestroy')
export('dmSend')
export('Rtweets')
export('searchTwitter')
export('userTimeline')
export('homeTimeline')
export('mentions')
export('retweetsOfMe')
export('listTimeline')
export('showStatus')
export('getUser')
export('lookupUsers')
export("updateStatus")
export('tweet')
export('deleteStatus')
export('taskStatus')
export('getTrends')
export('availableTrendLocations')
export('closestTrendLocations')
export('twListToDF')
export('friendships')
