exportClasses('status', 'user', 'directMessage', 'trend')
exportMethods(as.data.frame, screenName, show, favorited, replyToSN,
              statusesCount, tweetCount, followersCount,
              favoritesCount, friendsCount, userURL, created,
              protected, verified, location, lastStatus, show,
              description, name, id, statusText, truncated, statusSource)

export('statusFactory')
export('buildStatus')
export('userFactory')
export('buildUser')
export('dmFactory')
export('registerTwitterOAuth')
export('dmGet')
export('dmSent')
export('dmDestroy')
export('dmSend')
export('Rtweets')
export('searchTwitter')
export('publicTimeline')
export('userTimeline')
export('homeTimeline')
export('mentions')
export('retweetedByMe')
export('retweetedToMe')
export('retweetsOfMe')
export('showStatus')
export('getUser')
export('lookupUsers')
export("updateStatus")
export('tweet')
export('deleteStatus')
export('taskStatus')
export('trendFactory')
export('buildTrend')
export('getTrends')
export('twListToDF')

